logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
.ensime
.ensime_lucene
public/images/screens/
project/activator*

activator

activator-launch-1.1.2.jar

activator.bat

page/info.md

projectFilesBackup/.idea/libraries/SBT__org_scala_lang_scala_library_2_10_4.xml

projectFilesBackup/.idea/libraries/SBT__org_scala_lang_scala_library_2_10_5_test.xml

projectFilesBackup/.idea_modules/atm.iml

projectFilesBackup/.idea_modules/metafsm-atm.iml
