@layout("Meta-FSM ATM Tutorial") {
<div ng-controller="ATMController">
    <!--ATM-->
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-12">
                <h1 ng-show="showResultFlag">
                    {{cash | currency}}, {{state}}
                </h1>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <button class="eventButton btn" ng-class="{'btn-primary' : canDeposit}"
                            ng-disabled="!canDeposit" ng-click="deposit()">Deposit $100
                    </button>
                </div>
                <div class="col-lg-3">
                    <button class="eventButton btn" ng-class="{'btn-primary' : canWithDraw}"
                            ng-disabled="!canWithDraw" ng-click="withdraw()">Withdraw $100
                    </button>
                </div>
                <div class="col-lg-3">
                    <button class="eventButton btn" ng-class="{'btn-primary' : canRecycle}" ng-disabled="!canRecycle"
                            ng-click="recycle()">Recycle
                    </button>
                </div>
                <div class="col-lg-3">
                    <button class="eventButton btn" ng-class="{'btn-primary' : canReset}" ng-disabled="!canReset"
                            ng-click="reset()">Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="statesDiv">
        <!--State Diagram-->
        <div id="statesImgDiv" class="col-lg-6">
            <img id="atmFSM" ng-src="/assets/images/atm_{{state}}.jpg" alt="StateMachine">
        </div>
        <!--Time line-->
        <div id="transitionsHistoryDiv" class="col-lg-6">
            <table class="table" style="width: auto;">
                <tr>
                    <th>Start Time</th>
                    <th>Event name</th>
                    <th>From State</th>
                    <th>To State</th>
                    <th>Cost Time
                        <small>(mills)</small>
                    </th>
                </tr>
                <tr ng-repeat="msg in msgs | orderBy: sortByDate : true | limitTo : offset ">
                    <td>{{msg.start | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{msg.eventName}}</td>
                    <td>{{msg.fromState}}</td>
                    <td>{{msg.toState}}</td>
                    <td>{{msg.cost}}</td>
                </tr>
            </table>
            <div ng-show="hasMore">
                <button class="btn btn-primary" style="float: right" data-ng-click="showMore()">More</button>
            </div>
        </div>
    </div>

</div>
}
